# colbert
sentencepiece
torch==1.13.1
colbert-ir[torch,faiss-cpu]==0.2.14 # faiss-gpu
numpy<2
faiss-cpu
huggingface_hub

# db / server
pysqlite3
flask
gunicorn

# scraping
openreview-py
bibtexparser
tqdm
gitpython