<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACL Search</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <form id="searchForm">
            <div class="row">
                <div class="col-md-3 sidebar">
                    <div class="mb-4">
                        <h1 class="mb-3">papers</h1>
                        <div class="range-label">
                            <span id="min-value">2020</span> - <span id="max-value">2024</span>
                        </div>

                        <div class="range-container">
                            <input type="range" id="yearRangeMin" min="2010" max="2024" step="1" value="2020">
                            <input type="range" id="yearRangeMax" min="2010" max="2024" step="1" value="2024">
                            <div class="slider-track"></div>
                            <div class="slider-range" id="sliderRange"></div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="nlp" id="nlp" checked>
                            <label class="form-check-label" for="nlp">ACL/EMNLP</label>
                        </div>
                        <div class="ml-4">
                            <div class="form-check">
                                <input class="form-check-input nlp-checkbox" type="checkbox" value="main" id="nlp-main" checked>
                                <label class="form-check-label" for="nlp-main">Main Long</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input nlp-checkbox" type="checkbox" value="short" id="nlp-short" checked>
                                <label class="form-check-label" for="nlp-short">Main Short</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input nlp-checkbox" type="checkbox" value="findings" id="nlp-findings">
                                <label class="form-check-label" for="nlp-findings">Findings</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input nlp-checkbox" type="checkbox" value="journal" id="nlp-journal">
                                <label class="form-check-label" for="nlp-journal">Journal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input nlp-checkbox" type="checkbox" value="workshop" id="nlp-workshop">
                                <label class="form-check-label" for="nlp-workshop">Workshop</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input nlp-checkbox" type="checkbox" value="demo" id="nlp-demo">
                                <label class="form-check-label" for="nlp-demo">Demo Track</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input nlp-checkbox" type="checkbox" value="industry" id="nlp-industry">
                                <label class="form-check-label" for="nlp-industry">Industry Track</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input nlp-checkbox" type="checkbox" value="tutorial" id="nlp-tutorial">
                                <label class="form-check-label" for="nlp-tutorial">Tutorial Abstracts</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="colm" id="colm" checked>
                            <label class="form-check-label" for="colm">COLM</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="ml" id="ml">
                            <label class="form-check-label" for="ml">NeurIPS/ICLR/ICML</label>
                        </div>
                        <div class="ml-4">
                            <div class="form-check">
                                <input class="form-check-input ml-checkbox" type="checkbox" value="oral" id="ml-oral">
                                <label class="form-check-label" for="ml-oral">Oral</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ml-checkbox" type="checkbox" value="spotlight" id="ml-spotlight">
                                <label class="form-check-label" for="ml-spotlight">Spotlight</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ml-checkbox" type="checkbox" value="poster" id="ml-poster">
                                <label class="form-check-label" for="ml-poster">Poster</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ml-checkbox" type="checkbox" value="invite" id="ml-invite">
                                <label class="form-check-label" for="ml-invite">Invite</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 text-disclaimer small">ML confs are scraped 2020- and ACL confs are reliably indexed 2019-</div>

                    <div class="mb-3 text-footer small footer">by <a class="text-footer-a"
                            href="https://davidheineman.com">david</a> (<a class="text-footer-a"
                            href="https://github.com/davidheineman/acl-search">source</a>)</div>
                </div>
                <div class="col-md-9 search-container">
                    <div class="search-bar-container">
                        <input type="text" class="form-control" id="query" name="query" required>
                        <button type="submit" class="btn btn-primary" form="searchForm">search</button>
                    </div>
                    <div id="spinner" class="spinner-border" style="display: none" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div id="results" class="results"></div>
                </div>
            </div>
        </form>
    </div>

    <script>
        const yearRangeMin = document.getElementById('yearRangeMin');
        const yearRangeMax = document.getElementById('yearRangeMax');
        const minValueDisplay = document.getElementById('min-value');
        const maxValueDisplay = document.getElementById('max-value');
        const sliderRange = document.getElementById('sliderRange');

        function updateSlider() {
            const minVal = parseInt(yearRangeMin.value);
            const maxVal = parseInt(yearRangeMax.value);

            if (minVal > maxVal) {
                yearRangeMin.value = maxVal;
            }
            if (maxVal < minVal) {
                yearRangeMax.value = minVal;
            }

            const minValue = parseInt(yearRangeMin.value);
            const maxValue = parseInt(yearRangeMax.value);

            const percent1 = ((minValue - 2010) / (2024 - 2010)) * 100;
            const percent2 = ((maxValue - 2010) / (2024 - 2010)) * 100;

            sliderRange.style.left = percent1 + '%';
            sliderRange.style.width = (percent2 - percent1) + '%';

            minValueDisplay.textContent = minValue;
            maxValueDisplay.textContent = maxValue;
        }

        yearRangeMin.addEventListener('input', updateSlider);
        yearRangeMax.addEventListener('input', updateSlider);

        updateSlider();


        document.getElementById('nlp').addEventListener('change', function() {
            var isChecked = this.checked;
            document.querySelectorAll('.nlp-checkbox').forEach(function(checkbox) {
                checkbox.checked = isChecked;
            });
        });

        document.querySelectorAll('.nlp-checkbox').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                const allNlpCheckboxes = document.querySelectorAll('.nlp-checkbox');
                const allUnchecked = Array.from(allNlpCheckboxes).every(cb => !cb.checked);
                document.getElementById('nlp').checked = !allUnchecked;
            });
        });

        document.getElementById('ml').addEventListener('change', function() {
            var isChecked = this.checked;
            document.querySelectorAll('.ml-checkbox').forEach(function(checkbox) {
                checkbox.checked = isChecked;
            });
        });

        document.querySelectorAll('.ml-checkbox').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                const allMlCheckboxes = document.querySelectorAll('.ml-checkbox');
                const allUnchecked = Array.from(allMlCheckboxes).every(cb => !cb.checked);
                document.getElementById('ml').checked = !allUnchecked;
            });
        });

        function displayResults(data) {
            const resultsDiv = document.getElementById('results');
            if (data.length === 0) {
                resultsDiv.innerHTML = '<p class="alert alert-info">No results found.</p>';
                return;
            }

            console.log(data)

            let html = '';
            data.forEach(paper => {
                paper.author = Array.isArray(paper.author) ? paper.author : [paper.author];

                html += `
                    <div class="card">
                        <div class="row">
                            <div class="col-1 col-btn">
                                <div class="d-flex flex-column">
                                    <a class="btn btn-paper btn-sm mb-1" href="${paper.pdf}" target="_blank" data-toggle="tooltip" data-placement="top" title="Open PDF">
                                        pdf
                                    </a>
                                    <a class="btn btn-paper btn-sm mb-1" href="javascript:void(0);" onclick="copyBibtex('${paper.bibkey}')" data-toggle="tooltip" data-placement="top" title="Copy BibTeX">
                                        bib
                                    </a>
                                    <a class="btn btn-paper btn-sm" href="javascript:void(0);" onclick="showAbstract('${paper.bibkey}')" data-toggle="tooltip" data-placement="top" title="Show Abstract">
                                        abs
                                    </a>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="${paper.url}" target="_blank">${paper.title}</a></h5>
                                    <h6 class="card-subtitle mb-1 text-light-authors">${paper.author.join(', ')}</h6>
                                    <p class="card-subtitle text-light-metadata paper-metadata">
                                        <strong>${paper.year} / ${paper.venueid} / ${paper.venue_type} </strong> <br>
                                    </p>
                                    <div id="abstract-${paper.bibkey}" style="display: none;" class="mt-1" >
                                        <p class="card-text"><small class="text-muted">${paper.abstract}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;

            // Add a global variable for the paper
            window.paperData = window.paperData || {};
            window.paperData[paper.bibkey] = paper;
            });

            // <p class="card-text"><small class="text-muted">${paper.abstract}</small></p>

            resultsDiv.innerHTML = html;
        }        

        function copyBibtex(paperId) {
            const paper = window.paperData[paperId];
            if (!paper) {
                console.error('Paper data not found');
                return;
            }

            const authors = Array.isArray(paper.author) ? paper.author.join(' and ') : paper.author;
            const bibtex = paper.bibtex

            navigator.clipboard.writeText(bibtex).then(() => {
            }).catch(err => {
                console.error('Failed to copy BibTeX: ', err);
                alert('Failed to copy BibTeX. Please try again.');
            });
        }

        function showAbstract(paperId) {
            const paper = window.paperData[paperId];
            if (!paper) {
                console.error('Paper data not found');
                return;
            }

            const abstractElement = document.querySelector(`#abstract-${paperId}`);
            if (abstractElement) {
                abstractElement.style.display = abstractElement.style.display === 'none' ? 'block' : 'none';
            }
        }

        async function performSearch(form) {
            const params = new URLSearchParams();
            params.append('query', form.query.value);
            params.append('start_year', yearRangeMin.value);
            params.append('end_year', yearRangeMax.value);

            const url = new URL(window.location.href);
            url.searchParams.set('q', form.query.value);
            window.history.pushState({}, '', url);

            // Update the title to include the search query
            document.title = `${form.query.value} - ACL Search`;

            const selectedVenues = Array.from(document.querySelectorAll('input[type="checkbox"]:checked'))
                .map(checkbox => checkbox.value);
            selectedVenues.forEach(venue => params.append('venue_type', venue));

            const spinner = document.getElementById('spinner');
            spinner.style.display = 'block';

            document.getElementById('results').innerHTML = '';

            try {
                const response = await axios.get('/api/search', { params });
                displayResults(response.data);
            } catch (error) {
                console.error('Error:', error);
                document.getElementById('results').innerHTML = '<p class="alert alert-danger">An error occurred while fetching results.</p>';
            } finally {
                spinner.style.display = 'none';
            }
        }

        document.getElementById('searchForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            await performSearch(e.target);
        });

        document.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
            const query = urlParams.get('q');

            if (query) {
                document.getElementById('query').value = query;
                performSearch(document.getElementById('searchForm'));
            } else {
                document.getElementById('query').focus();
            }
        });
    </script>
</body>

</html>