:root {
    --acl-red: #ED1C24;
    --acl-red-dark: #D11920;
    --custom-blue: #446e9b;
}

.card {
    margin-bottom: 20px;
}

.sidebar {
    margin-top: 20px;
}

.search-bar-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-bar-container .form-control {
    margin-right: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.btn-primary {
    background-color: var(--acl-red);
    border-color: var(--acl-red);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--acl-red-dark);
    border-color: var(--acl-red-dark);
}

/* Custom styling for range input */
input[type="range"] {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #b6b6b6;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--acl-red);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--acl-red);
    cursor: pointer;
}

/* Custom styling for checkboxes */
.form-check {
    user-select: none
}

.form-check-input:checked {
    background-color: var(--acl-red);
    border-color: var(--acl-red);
}

.form-check-input:focus {
    border-color: var(--acl-red);
    box-shadow: 0 0 0 0.25rem rgba(237, 28, 36, 0.25);
}

/* Custom styling for links */
a {
    color: var(--custom-blue) !important;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #446e9b !important;
    text-decoration: underline;
}

/* David custom */
.card-text:last-child {
    font-size: 11pt;
    line-height: 1.05 !important;
}

.card {
    /* background-color: #f8f9fa !important; */
    color: #212529;
    border: 0;
}

.card-body {
    padding: 0;
}

.card-body .card-title {
    font-size: 13pt;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.card-body h6 {
    font-size: 11pt;
}

.text-light-authors {
    color: rgba(0, 0, 0, 0.5) !important
}

.text-light-metadata {
    color: rgba(0, 0, 0, 0.6) !important
}

.btn-paper, .btn-paper:hover, .btn-paper:focus, .btn-paper:active {    
    width: 30px;
    font-size: 10px;
    padding: 1px;
    background-color: #f8f9fa;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6) !important
}

.btn-paper:hover {
    text-decoration: none;
    background-color: #e9ecef;
}

.col-btn {
    padding-top: 1px;
    width: 40px;
}

.paper-metadata {
    font-size: 10pt;
}

.range-label {
    text-align: center
}

body {
    overflow: hidden;
}

.container {
    max-width: 1000px;
    padding-left: 32px;
    padding-right: 32px;
}

.results {
    overflow-y: auto;
}

.footer {
    position: absolute;
    bottom: 0;
}

.text-footer {
    color: rgba(0, 0, 0, 0.3) !important;
}

.text-footer-a {
    color: rgba(0, 0, 0, 0.3) !important;
    text-decoration: underline;
}

.text-footer-a:hover {
    color: rgba(0, 0, 0, 0.2) !important;
    text-decoration: underline;
}

.spinner-border {
    border-color: var(--acl-red);
    border-right-color: transparent;
    align-self: center;
    margin-top: 16px;
}

.ml-4 {
    margin-left: 8px;
}

.range-container {
    position: relative;
    margin-bottom: 16px;
}

input[type="range"] {
    margin-top: 9px;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 0;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    /* background: #007bff; */
    cursor: pointer;
    pointer-events: auto;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    /* background: #007bff; */
    cursor: pointer;
    pointer-events: auto;
    border-radius: 50%;
}

.slider-track {
    position: absolute;
    top: 7px;
    width: 100%;
    height: 6px;
    border: 1px solid #e0e0e0;
    background: #F8F9FA;
    z-index: -1;
    border-radius: 8px;
}

.slider-range {
    position: absolute;
    top: 7px;
    height: 6px;
    background: var(--acl-red);
    z-index: -1;
    border-radius: 8px;
}

.range-label {
    text-align: left;
}

.form-control:focus {
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 .25rem #dc35451f;
}